<div class="mb-3">
        <label for="exampleInputEmail1">First Name</label>
        <input value="{{this.first_name}}" placeholder="First Name" name="first_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1">Last Name</label>
        <input value="{{this.last_name}}" placeholder="Last Name" name="last_name" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1">Email</label>
        <input value="{{this.email}}" placeholder="eq: abc@xyz.com" name="email" type="email" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1">Phone</label>
        <input value="{{this.phone}}" placeholder="9999999999" name="phone" type="number" class="form-control" id="exampleInputPassword1">
    </div>
   <div class="mb-3">
  <label for="exampleInputEmail1">Comments</label>
  <textarea value="{{this.comments}}" placeholder="Comments..." name="comments" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>