<div class="mb-3">
        <label for="exampleInputFirstName">First Name</label>
        <input value="{{this.first_name}}" placeholder="First Name" name="first_name" type="text" class="form-control" id="exampleInputFirstName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputLastName">Last Name</label>
        <input value="{{this.last_name}}" placeholder="Last Name" name="last_name" type="text" class="form-control" id="exampleInputLastName">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail">Email</label>
        <input value="{{this.email}}" placeholder="eq: abc@xyz.com" name="email" type="email" class="form-control" id="exampleInputEmail">
    </div>
    <div class="mb-3">
        <label for="exampleInputPhone">Phone</label>
        <input value="{{this.phone}}" placeholder="9999999999" name="phone" type="number" class="form-control" id="exampleInputPhone">
    </div>
   <div class="mb-3">
  <label for="exampleInputComments">Comments</label>
  <textarea value="{{this.comments}}" placeholder="Comments..." name="comments" class="form-control" id="exampleInputComments" rows="3"></textarea>
    </div>