{{>navbar}}





{{!-- <table class="table">
    <thead>
        <tr>

            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>

            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>

                <a class="btn btn-outline-success" href="/view_user/{{this.id}}" role="button"><i
                        class="bi bi-eye"></i></a>
                <a class="btn btn-outline-primary" href="/edit_user/{{this.id}}" role="button"><i
                        class="bi bi-pen"></i></a>
                <a class="btn btn-outline-danger" href="/delete_user/{{this.id}}" role="button"><i
                        class="bi bi-trash"></i></a>
                {{#if this.status}}
                <form action="/unmark/{{this.id}}" method="POST">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-star-fill"></i></button>
                </form>
                {{else}}
                <form action="/mark/{{this.id}}" method="POST">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-star"></i></button>
                </form>
                {{/if}}


            </td>
        </tr>
        {{/each}}

    </tbody>
</table> --}}
<div >
    {{#each rows}}
     <a  href="/view_user/{{this.id}}" role="button" style="text-decoration-line: none;">
                       
    <div class="col-sm-6" style="display:inline-block;">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{this.first_name}} {{this.last_name}}</h2>
                {{!-- <h5>{{this.email}}</h5>
                <h5>{{this.phone}}</h5> --}}
              
               
               
                <a class="btn btn-outline-danger" href="/delete_user/{{this.id}}" role="button"><i
                        class="bi bi-trash"></i></a>
                {{#if this.status}}
                <form action="/unmark/{{this.id}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-outline-dark"><i class="bi bi-star-fill"></i></button>
                </form>
                {{else}}
                <form action="/mark/{{this.id}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-outline-dark"><i class="bi bi-star"></i></button>
                </form>
                {{/if}}

            </div>
        </div>
    </div>

    </a>
    {{/each}}
</div>