{{>navbar}}
<h1>This is home page</h1>


<h1>email:{{userdata.email}}</h1>
<h1>password:{{userdata.password}}</h1>
<h1>first_name:{{userdata.first_name}}</h1> ,
<h1>last_name:{{userdata.last_name}}</h1>,
<h1>comments:{{userdata.comments}}</h1>