{{>navbar}}
<h1>This is page2</h1>
<h1>userName:{{userdata.username}}</h1>
<h1>password:{{userdata.password}}</h1>
<h1>firstName:{{userdata.first_name}}</h1> ,
<h1>lastName:{{userdata.last_name}}</h1>,
<h1>comments:{{userdata.comments}}</h1>